<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <a href="./new">Click Here for new message form</a>
 <h1>The Messages in the Message Board are!</h1>
        <li>
            <% let i=1%>
   <% messages.forEach((message)=> { %>
   <ul>
     <h2>Message<%=i%></h2>
    <!-- <li>Text:<%= message.text%></li>
    <li>User:<%= message.user%></li>
    <li>Added:<%= message.added%></li> -->
    <button onclick="window.location.href='./message/<%=i%>'">Open here for the full details</button>
    <%i++%>
   </ul>
   <% });%>
</li>

</body>
</html>