<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/indexstyle.css">
    <title>Mini Message Board</title>
</head>
<body>
    <a href="./new">Click Here for new message form</a>
    <div>
<img src="../../images/title.png" id="banner">
</div>
<div class="message-wrapper">
   <% messages.forEach((message)=> { %>
     <div class="message-box">
        <div class="message">
    <h2>Message <%=message.id%></h2>
    <h3> A Message from <%= message.user_name%>!</h3>
    <!-- <li>Text:<%= message.text%></li>
    <li>User:<%= message.user%></li>
    <li>Added:<%= message.added%></li> -->
    <button onclick="window.location.href='./message/<%=message.id%>'"><img src="../../images/redirect.svg" id="redirect"></button>

</div> 
     </div>
   <% });%>
</div>

</body>
</html>